<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY CAR</title>
    <link rel="stylesheet" href="css/test.css">
    <link rel="stylesheet" href="css/papa.css">
    <link rel="stylesheet" href="css/anime.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
  </head>
<body>
    <header>
      <%- include('navbar')%>
        </header>    
            <div class="span"></div>
        <div class="box-picter">
           <span> <h2 id="carn">All new commuter</h2></span>
            <div class="big-picter"><img src=" <%= item1%>" alt="1" onclick="openModal('<%= item1%>',1)" id="myImage1"/></div>
            <div class="pic-pic">
            <div class="picter1"><img src="<%= item2%>" alt="2" onclick="openModal('<%= item2%>',2)" id="myImage2"/></div>
            <div class="picter2"><img src="<%= item3%>" alt="3" onclick="openModal('<%= item3%>',3)" id="myImage3"/></div>
            <div class="picter3"><img src="<%= item4%>" alt="4" onclick="openModal('<%= item4%>',4)" id="myImage4"/></div>
            <div class="picter4"><img src="<%= item5%>" alt="5"  id="myImage5"/><span onclick="openModal('<%= item5%>',5)">more</span>
              <div class="devis">
              <img src="<%= item6%>" alt="6" onclick="openModal('<%= item6%>',6)" id="myImage6"/>
              <img src="<%= item7%>" alt="7" onclick="openModal('<%= item7%>',7)" id="myImage7"/>
              <img src="<%= item8%>" alt="8" onclick="openModal('<%= item8%>',8)" id="myImage8"/>
              <img src="<%= item9%>" alt="9" onclick="openModal('<%= item9%>',9)" id="myImage9"/>
              <img src="<%= item10%>" alt="10" onclick="openModal('<%= item10%>',10)" id="myImage10"/>
            </div></div>
        </div><div id="myModal" class="modal">
          <div id="go" onclick="minus()"><i class='fas fa-chevron-left' style='font-size:66px'></i></div>
          <div id="back"  onclick="plus()"><i class='fas fa-chevron-right' style='font-size:66px'></i></div>
          <span class="close" onclick="closeModal()">&times;</span>
          <img class="modal-content" id="modalImage">
          
        </div>
        </div>
        <div class="ins-allnew">
            <ul class="ins">รายละเอียด</ul>
            <li id="rules"> </li>
            <li id="indexseats"></li>
            <li id="wtime"></li>
            <li id="otime"></li>
            <li id="pledge"></li><br>
            <ul id="ps">ราคาอาจเปลี่ยนแปลงตามระยะทาง</ul>


        </div>
        <form class="form" method="POST" action="/insert">
          <h1>Onlinebooking</h1>
          <div class="input-container">
              <input required="" type="text"  name="car" id="onlinebooking"/>
              <label class="label" for="input">car</label>
              <div class="underline"></div>
          </div>
          <div class="input-container">
              <input required="" id="input" type="text" name="name"/>
              <label class="label" for="input">Name</label>
              <div class="underline"></div>
            </div>
            <div class="input-container">
              <input required="" id="input" type="text" name="ph"/>
              <label class="label" for="input">Phone Number</label>
              <div class="underline"></div>
            </div>
            <div class="input-container">
              <input required="" id="input" type="text" name="lindid"/>
              <label class="label" for="input">line ID</label>
              <div class="underline"></div>
            </div>
            <div class="douo">
            <div class="input-container">
              <input required="" id="input" type="text" name="inInput"/>
              <label class="label" for="input">รับที่จังหวัด</label>
              <div class="underline"></div>
            </div>
          
            <p>ไปยัง</p>
          
            <div class="input-container">
              <input required="" id="input" type="text" name="toInput"/>
              <label class="label" for="input">จังหวัด</label>
              <div class="underline"></div>
            </div>
          </div>
          <div class="input-container last-chil">
              <input required="" id="input" type="text" name="whenInput"/>
              <label class="label" for="input">กำหนดการเดินทาง xx/xx/20xx</label>
              <div class="underline"></div>
            </div>
            <div class="d-flex ">
            <button type="submit" id="myButton">
              SEND
            </button>
          </div>
          </form>
        </div>
        </div>
        </div>

        </div>
        </div>
        <script>
          let button = document.getElementById("myButton");
        
          button.onclick = function() {
            Swal.fire({
              title: "ข้อมูลของคุณถูกส่งแล้ว!",
              html: `จะมีพนักงานติดต่อภายใน1ชม
                      หากไม่มีการตอบกลับคุณสามารถ<a href="/contrect">ติดต่อเรา</a>`,
              icon: "success"
            }).then((result) => {
    // หลังจากที่กดปุ่ม OK ใน SweetAlert2 ก็ให้รีเซ็ตหน้าเว็บ
    if (result.isConfirmed) {
      location.reload(); // รีเซ็ตหน้าเว็บ
    }
  });
          };
        </script> 
</body>
<script src="js/inner.js"> </script>
<script src="js/drop.js"></script>
<script src="js/sad.js"></script>
<script src="js/test.js"></script>
  

</html>